<h1>Hello! I am your stupid coach - what is your question? 🚀</h1>
<%# TODO Ask a question to our coach %>
<%# Form %>
<%# Submit of form should leab us to answer page %>

<%# action is where we wan to go %>
<%# /answer %>
<form action="/answer" data-turbo="false">
  <input type="text" name="user_input">
  <input type="submit" value="Ask!">
</form>
